// Custom utilities for this theme

.text-white-75 {
    color: fade-out($white, 0.25);
}

.social-icon{
    margin-right: 5px;
    width: 40px;
    filter: gray(), alpha(opacity=40); /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    opacity: 0.4;
}

.social-icon:hover {
    filter: none, alpha(opacity=100);
    opacity: 1;
    -webkit-filter: grayscale(0%);
}
